﻿body {
    font-size: 1em;
    background-color: #ecddcd;
}
#header{
    margin: 10px;
}
.container{
    cursor:pointer;
    margin:2px;
    padding:5px;
    border-style: groove;
    border-color: rgba(35, 181, 254,0.1);
    border-width:1px;
    overflow:hidden;
    display: inline-block;
    position:relative;
    width:250px;
    height:300px;
}
.container img{
    display: block;
	margin-left: auto;
	margin-right: auto;
}
.price{
    width:100%;
    position:absolute;
    text-align:center;
    bottom:0;
}
.titleContainer{
    line-height:20px;
    margin:0;
    padding:0;
    height:100px;
    overflow:hidden;
}
#footer{
    padding:50px;
    margin-left: auto;
	margin-right: auto;
    width:200px;
}
#footer button{
    text-decoration:none;
    margin-left: auto;
	margin-right: auto;
    display: block;
    height: 25px;
    width: 70px;
    background: rgb(35, 181, 254);
    border: 2px solid rgba(35, 181, 254, 0.59);
    text-align:center;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 2px #1b383b;
}
#prevBtn{
    float:left;
}
#nextBtn{
    float:right;
}
#overlay .overlay{
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
    z-index: 100;
}
.overlay img{
    position:absolute;
    display:block;
    left:50%;
    top:50%;
}
@media only screen and (min-width: 813px){ .textField{width: 500px}}
@media only screen and (max-width: 813px){ .textField{width: 245px}}
