﻿@model AssignmentForUptime.ViewModels.IndexVM

@{
    ViewBag.Title = "Assignment For Uptime";
}
<div id="header">
    @Html.DropDownListFor(model => model.SelectedElement, new SelectList(Model.CurrencyList, "Key", "Value", Model.SelectedElement), new { @id = "currencyList"})
    @Html.TextBox("products", null, new { placeholder = "Search for Amazon items", @class = "textField" })
</div>
<div id="overlay"></div>
<div id="content"></div>
<div id="footer"></div>

